.jumbotron {
  margin-bottom: 4em;
}

.jumbotron>h2 {
  font-family: 'Bungee Inline', sans-serif;
  font-size: 40px;
  color: tomato;
}

.panel-default>.panel-heading {
    background-image: none;
    background-color: #FFF9DD;
}

.person-wrapper {
  margin-bottom: 2em;
}

.profile-pic {
  width: 50%;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #2892D7;
  margin-top: 2em;
}

.btn-info {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #2892D7;
  margin-top: 2em;
}

h3 {
  margin-bottom: 1em;
}

.special-text {
  font-family: 'Fredoka One', cursive;
  color: DodgerBlue ;
}
